h1{
    text-align: center;
    color: chartreuse;
    margin-bottom: 20px;

}

body{
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column; /* Stack elements vertically */
    color: white;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.box {
      padding: 20px;
        
        text-align: center;             
        
        align-content: center;
       
       
       background-color: blueviolet;
       display: flex;
    flex-direction: column;
    gap: 35px;
       
}

.box2, .box3 {
   
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.box4{
    display: flex;
    justify-content: center;
    text-align: center;
    
    
}





